.lead-logo {
  height: 7vmin;
  margin: 5px 20px 5px 20px;
}

.boton-nav {
 margin: 5px 10px 5px 10px; 
}

.tituloApp {
  color: #fff;
  float: right;
  width: 50%;
}

a{
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: grey;
}