.lead-logo {
  height: 7vmin;
  margin: 5px 20px 5px 20px;
}

.boton-nav {
 margin: 5px 10px 5px 10px; 
}

.tituloApp {
  color: #fff;
  float: right;
  width: 50%;

}

a{
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: grey;
}


.bi-cart {
  width: 35px;  
}

.carritoB {
  
}

.counterBtn{  
  padding: 5px;
  display: flex;
}

.counterFrm{
  
  padding-left: 5px;
  padding-right: 5px;
}

.counterB {
  font-size: 17px;
  vertical-align: sub;
}

.card {
  width: 18rem;
}
.carritoitems{
  display: inline-flex;
  text-align: center;
}
.imgcarrito{
  width: 70%;
}
.divimgcarr{

}